/********************************************* TAG SELECTORS *********************************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  color: #2C003E;
}

/********************************************* CLASS SELECTORS *********************************************/
.under-construction {
  border-radius: 70%;
  width: 30%;
  margin: auto;
}

.bot-container {
  background: #11cdd4;
  padding: 20px;
}

.footer-link {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 5px;
  text-decoration: none;
}

.footer-link:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #E3FDFD;
  position: relative;
  padding: 100px;
}
