/********************************************* CLASS SELECTORS *********************************************/
.under-construction {
  border-radius: 70%;
  width: 30%;
  position: absolute;
  align-items: center;
  margin: auto;
}
